@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

#root {
  width: 100%;
  height: 95vh;
  background-color: rgb(186, 235, 255);
}

.header {
  margin: 30px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
}

.header, img{
  transform:
  perspective(80em)
  rotateX(9deg);
box-shadow:
  rgba(97, 177, 214, 0.42) 0px 60px 123px -25px,
  rgba(108, 146, 158, 0.08) 0px 35px 75px -35px;
border-radius: 10px;
padding: 5px;
border-color:
  rgb(213, 220, 226)
  rgb(213, 220, 226)
  rgb(184, 194, 204);
}

.left-hero {
  padding: 10px;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  border-radius: 52px;
}

h1 {
  color: darkslategrey;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  color: black;
  padding: 0 0 30px 0;
  font-weight: 400;
  font-size: 2rem;
}
  
h3 {
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px;
}

nav {
  padding: 10px 20px 0 20px;
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
}

.nav-left {
  display: flex;
}

.nav-right {
    display: flex;
}

nav h3{
  color: white;
  font-size: 1.5em;
}
nav p{
  color: rgb(4, 68, 80); 
 padding: 10px;
}

/* unvisited link */
a:link {
  color: rgb(4, 68, 80);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(0, 2, 97);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(39, 39, 39);
  text-decoration: underline;
}

/* selected link */
a:active {
  color: rgb(30, 30, 48);
  text-decoration: underline;
}

.icon {
  padding: 30px;
}

@media (max-width: 400px){
    h1 {
      font-size: 3rem;
      color: rgb(88, 1, 23);
    }
    h2 {
      font-size: 1.5rem;
    }
    .header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 100%;
    }
    img {
      width: 60%;
    }
}

/* @media (max-width: 400px){
  img {
    width: 55%;
  }
  a {
    padding-top: 300px;
    font-size: 2em;
  }
} */